h1{text-align: center; color: blue;}
#quiensoy{text-align: center;}
#dedondesoy{text-align: center;}
#hobbies{text-align: center;}
#porquemeanoteacodoacodo{text-align: center;}
h2{text-align: center; color: green;}
a{text-decoration: none;
    color: black;}
body{background-color:bisque}